{% extends 'MiscelAppnea/base.html' %}
{% block header %}
<style media="screen">
.filtros{
  /*padding-top:30px;
  padding-bottom: 30px;*/
  padding: 50px;
}
.tabla{
  font-size: small;
}
.modal-body{
  padding: 30px;
}
</style>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}"><strong>Miscel</strong>[App]<strong>nea Trabis</strong></a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'comedor_app:comedor' %}">Comedor</a>
  </li>
  <li class="breadcrumb-item active">Opciones</li>
</ol>
<div class="col-xl-12 col-sm-6 mb-3">
  <div class="card text-dark bg-ligth o-hidden h-100">
    <div class="card-header">
      <h5><i class="fas fa-fw fa-apple-alt"></i> Pedido de opciones</h5>
    </div>
    <div class="card-body">
      <div class="card-body-icon">
        <i class="fas fa-fw fa-apple-alt"></i>
      </div>
      <div class="row">
        <div class="col-md-3 bg-light filtros">
          <form action="{% url 'comedor_app:opciones' %}" method="post" >
            {% csrf_token %}
            <strong>Empresa</strong>
            <select class="form-control" name="empresa" style="width:200px">
              <option value="">Seleccione...</option>
              {% for company in user.userprofileinfo.user_companies.all %}
                <option value="{{company.company_name}}">{{company.company_name}}</option>
              {% endfor %}
            </select>
            <!--select class="form-control" name="empresa" style="width:200px"-->
              {#% if 'Samuel' in user.get_full_name %#}
                <!--option value="">Seleccione...</option>
                <option value="INNOVACIONES">INNOVACIONES</option>
                <option value="PRESTADORA">PRESTADORA</option>
                <option value="PREFABRICADOS">PREFABRICADOS</option-->
              {#% else %#}
                <!--option value="INNOVACIONES">INNOVACIONES</option-->
              {#% endif %#}
            <!--/select-->
            <br>
            <strong>Ejercicio</strong><input type="text" name="ejercicio" class="form-control" placeholder="Ejercicio fiscal" value="{{ ejercicio }}" maxlength="4" style="width:100px" required>
            <br>
            <strong>Semana</strong><input type="text" name="semana" class="form-control" placeholder="Número de semana" value="{{ semana }}" maxlength="2" style="width:170px" required>
            <br>
            <span class="float-left"><button name="buscar" type="submit" class="btn btn-primary"><i class="fas fa-search"></i> <strong>Generar</strong></button>
          </form>
        </div>
        <div class="col-md-9">
          {% if opciones %}
            <center>
              <h6>Empresa: {{ empresa }}&nbsp;&nbsp;&nbsp; Semana: {{ semana }}&nbsp;&nbsp; Ejercicio: {{ ejercicio }}</h6>
            </center>
            <table class=" table table-striped tabla" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Día</th>
                  <th>Empleado</th>
                  <th>Departamento</th>
                  <th>Opción</th>
                </tr>
              </thead>
              <tbody>
              {% for opc in opciones %}
                <tr>
                  <td>{{ opc.dia }}</td>
                  <td>{{ opc.id_comedor_detalle.nombre_empleado }}</td>
                  <td>{{ opc.id_comedor_detalle.depto_empleado }}</td>
                  <td>{{ opc.comida }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <h3>
              {% if mensaje != 'Exitoso!' %}
                {{ mensaje }}
              {% endif %}
            </h3>
          {% endif %}
          <br>
          <span class="float-right">
            <button class="btn btn-success" data-toggle="modal" data-target="#addModal">
              <i class="fas fa-plus"></i>
              <strong>Agregar</strong>
            </button>
          </span>
        </div>
      </div>
    </div>
    <a class="card-footer text-white clearfix small z-1">

    </a>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="exampleModalLabel">Agregar opción</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true" class="text-white">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="opcionForm" data-empleados-url="{% url 'comedor_app:ajax_load_empleados' %}" novalidate>
          {% csrf_token %}
          <input type="text" name="empresa" value="{{ empresa }}" hidden>
          <input type="text" name="ejercicio" value="{{ ejercicio }}" hidden>
          <input type="text" name="semana" value="{{ semana }}" hidden>
          <strong>Empresa/semana</strong>
          {{ form.id_comedor }}
          </select>
          <br>
          <strong>Empleado</strong>
          <br>
          {{ form.id_comedor_detalle }}
          <br>
          <strong>Día</strong>
          <select class="form-control" name="dia" style="width:200px">
            <option value="lunes">lunes</option>
            <option value="martes">martes</option>
            <option value="miercoles">miércoles</option>
            <option value="jueves">jueves</option>
            <option value="viernes">viernes</option>
            <option value="sabado">sábado</option>
            <option value="domingo">domingo</option>
          </select>
          <br>
          <strong>Comida</strong>
          <br>
          {{ form.comida }}
          <br>
          <span class="float-right">
            <button class="btn btn-danger" type="button" data-dismiss="modal"><i class="fas fa-ban"></i> <strong>Cancelar</strong></button>
            <button name="guardar" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> <strong>Guardar</strong></button>
          </span>
        </form>
        <!--script>var editor = new MediumEditor('.editable');</script-->
      </div>
      <div class="modal-footer bg-light">

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!--script src="https://code.jquery.com/jquery-3.3.1.min.js"></script-->
  <script>
    $("#id_comedor").change(function () {
      var url = $("#opcionForm").attr("data-empleados-url");  // get the url of the `load_empleados` view
      var comedorId = $(this).val();  // get the selected comedor ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-empleados/)
        data: {
          'id_comedor': comedorId       // add the comedor id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_empleados` view function
          $("#id_comedor_detalle").html(data);  // replace the contents of the id_comedor_detalle input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}
