{% extends 'MiscelAppnea/base.html' %}
{% block header %}
<style>
/* The switch - the box around the slider */
.switch {
  position: absolute;
  /*display: inline-block;*/
  width: 64px;
  height: 38px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider.round {
  background-color: #ff0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff0000;
}
.center{
  text-align: center;
}
/*---------------------*/
td,th {
white-space: nowrap;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: gray;
  color:white;
}
</style>
{% endblock %}

{% block content %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}"><strong>Miscel</strong>[App]<strong>nea Trabis</strong></a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'nominas_app:nominas' %}">Nóminas</a>
  </li>
  <li class="breadcrumb-item">
    <a href="#">Reportes</a>
  </li>
  <li class="breadcrumb-item active">Asistencia</li>
</ol>
  <!-- DataTables Example -->
  <div class="card mb-3" id="tabla">
    <div class="card-header">
      <i class="fas fa-table"  title="Vista de Tabla"></i>
      <strong>Asistencia</strong>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <form action="{% url 'nominas_app:asistencia' %}" method="post" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        {% csrf_token %}

        Empresa:
        <select class="form-control" name="empresa" style="width:200px">
          <option value="">Seleccione...</option>
          {% for company in user.userprofileinfo.user_companies.all %}
            <option value="{{company.company_name}}">{{company.company_name}}</option>
          {% endfor %}
        </select>
        &nbsp;
        Ejercicio:  <input type="text" name="ejercicio" class="form-control" placeholder="Ejercicio fiscal" value="{{ ejercicio }}" maxlength="4" style="width:100px" required>
        &nbsp;
        Periodo:  <input type="text" name="semana" class="form-control" placeholder="Número de periodo" value="{{ semana }}" maxlength="3" style="width:170px" required>
        <label class="switch d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" title="¿Semana actual?">
          <input type="checkbox" name="acumulado">
          <span class="slider"></span>
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> <strong>Generar</strong></button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#printModal"><i class="fas fa-file-excel"></i> <strong>Exportar</strong></button>
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        {% if asistencia %}
        (<span style="color:green; font-weight:bold;">A</span>='Asistencia', <span style="color:blue; font-weight:bold;">R</span>='Retardo', <span style="color:blue; font-weight:bold;">V</span>='Vacaciones', <span style="color:blue; font-weight:bold;">I</span>='Incapacidad', <span style="color:red; font-weight:bold;">F</span>='Falta')
        <center>
          <h6>Empresa: {{ empresa }}&nbsp;&nbsp;&nbsp; Semana:{{ semana }} (del {{ asistencia.0.fecha_inicio }} al {{ asistencia.0.fecha_fin }})&nbsp;&nbsp; Ejercicio: {{ ejercicio }}</h6>
        </center>
        <table class="table-striped table-hover" id="dataTable2"  width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Número</th>
              <th>Nombre</th>
              <th class="center">lunes <br> {{dias.0}}</th>
              <th class="center">martes <br> {{dias.1}}</th>
              <th class="center">miércoles <br> {{dias.2}}</th>
              <th class="center">jueves <br> {{dias.3}}</th>
              <th class="center">viernes <br> {{dias.4}}</th>
              <th class="center">sábado <br> {{dias.5}}</th>
              <th class="center">domingo <br> {{dias.6}}</th>
            </tr>
          </thead>
          <tbody>
            {% for emp in asistencia %}
              <tr>
                <td>{{ emp.codigo }}</td>
                <td>{{ emp.nombre }}</td>

                {% if emp.lunes == 'F' %}
                  <td class="center" style="color:red">{{ emp.lunes }}</td>
                {% elif emp.lunes == 'A' %}
                  <td class="center" style="color:green; font-weight:bold;">{{ emp.lunes }}</td>
                {% else %}
                  <td class="center" style="color:blue">{{ emp.lunes }}</td>
                {% endif %}

                {% if emp.martes == 'F' %}
                  <td class="center" style="color:red">{{ emp.martes }}</td>
                {% elif emp.martes == 'A' %}
                  <td class="center" style="color:green; font-weight:bold;">{{ emp.martes }}</td>
                {% else %}
                  <td class="center" style="color:blue">{{ emp.martes }}</td>
                {% endif %}

                {% if emp.miercoles == 'F' %}
                  <td class="center" style="color:red">{{ emp.miercoles }}</td>
                {% elif emp.miercoles == 'A' %}
                  <td class="center" style="color:green; font-weight:bold;">{{ emp.miercoles }}</td>
                {% else %}
                  <td class="center" style="color:blue">{{ emp.miercoles }}</td>
                {% endif %}

                {% if emp.jueves == 'F' %}
                  <td class="center" style="color:red">{{ emp.jueves }}</td>
                {% elif emp.jueves == 'A' %}
                  <td class="center" style="color:green; font-weight:bold;">{{ emp.jueves }}</td>
                {% else %}
                  <td class="center" style="color:blue">{{ emp.jueves }}</td>
                {% endif %}

                {% if emp.viernes == 'F' %}
                  <td class="center" style="color:red">{{ emp.viernes }}</td>
                {% elif emp.viernes == 'A' %}
                  <td class="center" style="color:green; font-weight:bold;">{{ emp.viernes }}</td>
                {% else %}
                  <td class="center" style="color:blue">{{ emp.viernes }}</td>
                {% endif %}

                {% if emp.sabado == 'F' %}
                  <td class="center" style="color:red">{{ emp.sabado }}</td>
                {% elif emp.sabado == 'A' %}
                  <td class="center" style="color:green; font-weight:bold;">{{ emp.sabado }}</td>
                {% else %}
                  <td class="center" style="color:blue">{{ emp.sabado }}</td>
                {% endif %}

                {% if emp.domingo == 'F' %}
                  <td class="center" style="color:red">{{ emp.domingo }}</td>
                {% elif emp.domingo == 'A' %}
                  <td class="center" style="color:green; font-weight:bold;">{{ emp.domingo }}</td>
                {% else %}
                  <td class="center" style="color:blue">{{ emp.domingo }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <center>
          {% if mensaje != 'Exitoso!' %}
              <h2>{{ mensaje }}</h2>
          {% endif %}
        </center>
        {% endif %}
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

  <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Expotar Info</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Como deseas imprimir los registros seleccionados?<i class="fas fa-fw fa-file-pdf"></i><i class="fas fa-fw fa-file-excel"></i>
          <select class="form-control" placeholder="Seleccione una empresa" name="empresa">
              <option value="Excel">Excel</option>
              <option value="PDF">PDF</option>
          </select>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary text-white" onclick="tableToExcel(['dataTable'], ['Asistencia'], 'Reporte de Asistencia.xls', 'Excel')">Imprimir</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}
<script type="text/javascript">
/*----------------Export info to Excel------------------*/
var tableToExcel = (function() {
    var uri = 'data:application/vnd.ms-excel;base64,'
    , tmplWorkbookXML = '<?xml version="1.0"?><?mso-application progid="Excel.Sheet"?><Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet">'
      + '<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office"><Author>Axel Richter</Author><Created>{created}</Created></DocumentProperties>'
      + '<Styles>'
      + '<Style ss:ID="Currency"><NumberFormat ss:Format="Currency"></NumberFormat></Style>'
      + '<Style ss:ID="Date"><NumberFormat ss:Format="Medium Date"></NumberFormat></Style>'
      + '</Styles>'
      + '{worksheets}</Workbook>'
    , tmplWorksheetXML = '<Worksheet ss:Name="{nameWS}"><Table>{rows}</Table></Worksheet>'
    , tmplCellXML = '<Cell{attributeStyleID}{attributeFormula}><Data ss:Type="{nameType}">{data}</Data></Cell>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
    return function(tables, wsnames, wbname, appname) {
      var ctx = "";
      var workbookXML = "";
      var worksheetsXML = "";
      var rowsXML = "";

      for (var i = 0; i < tables.length; i++) {
        if (!tables[i].nodeType) tables[i] = document.getElementById(tables[i]);
        for (var j = 0; j < tables[i].rows.length; j++) {
          rowsXML += '<Row>'
          for (var k = 0; k < tables[i].rows[j].cells.length; k++) {
            var dataType = tables[i].rows[j].cells[k].getAttribute("data-type");
            var dataStyle = tables[i].rows[j].cells[k].getAttribute("data-style");
            var dataValue = tables[i].rows[j].cells[k].getAttribute("data-value");
            dataValue = (dataValue)?dataValue:tables[i].rows[j].cells[k].innerHTML;
            var dataFormula = tables[i].rows[j].cells[k].getAttribute("data-formula");
            dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?dataValue:null;
            ctx = {  attributeStyleID: (dataStyle=='Currency' || dataStyle=='Date')?' ss:StyleID="'+dataStyle+'"':''
                   , nameType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                   , data: (dataFormula)?'':dataValue
                   , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                  };
            rowsXML += format(tmplCellXML, ctx);
          }
          rowsXML += '</Row>'
        }
        ctx = {rows: rowsXML, nameWS: wsnames[i] || 'Sheet' + i};
        worksheetsXML += format(tmplWorksheetXML, ctx);
        rowsXML = "";
      }

      ctx = {created: (new Date()).getTime(), worksheets: worksheetsXML};
      workbookXML = format(tmplWorkbookXML, ctx);

console.log(workbookXML);

      var link = document.createElement("A");
      link.href = uri + base64(workbookXML);
      link.download = wbname || 'Workbook.xls';
      link.target = '_blank';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  })();

</script>
{% endblock %}
